<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="seq tests" parallel="false" thread-count="2">
	<test name="LOGIN">
		<classes>
			<class name="com.inferyx.framework.selenium.LoginPage" />
		</classes>
	</test>
	<test name="DATA DISCOVERY">
		<classes>
			<class name="com.inferyx.framework.dataDiscovery.DataDiscovery" />
		</classes>
	</test>
	<test name="DATA Visualization">
		<classes>
			<class name="com.inferyx.framework.dataVisualization.DataVisualization" />
		</classes>
	</test> 
	<test name="DATA Preaparation.Datapod">
		<classes>
			<class name="com.inferyx.framework.dataPreparation.datapod.DataPreaparation" />
	  		<class name="com.inferyx.framework.dataPreparation.datapod.DatapodAdd" /> 
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionView" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionEdit" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionDelete" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionRestore" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionLock" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionUnLock" />
		    <class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionPublish" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionUnPublish" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionClone" />
			<class name="com.inferyx.framework.dataPreparation.datapod.DatapodActionExport" />
<!-- 			<class name="com.inferyx.framework.dataPreparation.DatapodActionUpload" />
 -->		</classes>

	</test>
	<test name="DATA Preaparation.DataSet">
		<classes>
			<class name="com.inferyx.framework.dataPreparation.dataset.DataPreaparation" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionView" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionEdit" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionDelete" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionRestore" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionLock" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionUnLock" />
		    <class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionPublish" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionUnPublish" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionClone" />
			<class name="com.inferyx.framework.dataPreparation.dataset.DatasetActionExport" />
			<!--<class name="com.inferyx.framework.dataPreparation.DatasetActionUpload" /> -->
		</classes>

	</test>
</suite>